.box {
  width: 100px;
  height: 100px;
  background-color: black;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-color: black;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: white;
    left: 1073px;
    top: 0px;
  }
  50% {
    background-color: black;
    left: 1073px;
    top: 350px;
  }
  75% {
    background-color: white;
    left: 0px;
    top: 350px;
  }
  100% {
    background-color: black;
    left: 0px;
    top: 0px;
  }
}
